p {
  word-wrap:break-word;
}
.contents {
  padding-left: 210px;
}

.meta {
  color: #888;
  font-size: 13px;
}

.block {
  margin: 20px 0;
}

.warning {
  background: #FEE;
  border: 1px solid #A00;
}

.user {
  color: #10208C;
  margin-right: 4px;
}

.comment {
  background: #EEE;
  margin: 5px 0;
  padding: 10px;
}

.thread {
  border: 1px solid #CCC;
  margin: 0 0 20px 0;
  padding: 10px;
}

.message_header {
  border-top: 1px solid #CCC;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
}

.message_header .meta {
  float: right;
}

